# SQL Lite

In [1]:
import sqlite3

con = sqlite3.connect('database.sqlite')

In [2]:
cur = con.cursor()

In [3]:
cur.execute('''
    DROP TABLE IF EXISTS items
''')

cur.execute('''
    CREATE TABLE items (

        name VARCHAR(40), 
        description TEXT, 
        quantity FLOAT, 
        price FLOAT,

        created_at DATETIME DEFAULT CURRENT_TIMESTAMP,
        updated_at DATETIME DEFAULT CURRENT_TIMESTAMP,

        id INTEGER PRIMARY KEY AUTOINCREMENT

    )
''')

In [4]:
cur.execute(
    '''
        INSERT INTO 
            items (name, description, quantity, price)
        VALUES
            (?, ?, ?, ?)
    ''', 
    (
        'T-Shirt', 'T-Shirt ...', 10, 1.99
    )
)

In [6]:
items = [
    ('Short', 'Short ...', 10, 4.99),
    ('Cap', 'Cap ...', 10, 1.99),
]

cur.executemany('''
    INSERT INTO 
        items (name, description, quantity, price)
    VALUES
        (?, ?, ?, ?)
''', items)

In [7]:
cur.executemany('''
    INSERT INTO 
        items (name, description, quantity, price)
    VALUES
        (?, ?, ?, ?)
''', items)

In [8]:
cur.execute('''
    SELECT * FROM items
''')

items = cur.fetchall()
for item in items:
    print(item)

('T-Shirt', 'T-Shirt ...', 10.0, 1.99, '2022-01-30 10:04:04', '2022-01-30 10:04:04', 1)
('Short', 'Short ...', 10.0, 4.99, '2022-01-30 10:04:26', '2022-01-30 10:04:26', 2)
('Cap', 'Cap ...', 10.0, 1.99, '2022-01-30 10:04:26', '2022-01-30 10:04:26', 3)
('Short', 'Short ...', 10.0, 4.99, '2022-01-30 10:05:26', '2022-01-30 10:05:26', 4)
('Cap', 'Cap ...', 10.0, 1.99, '2022-01-30 10:05:26', '2022-01-30 10:05:26', 5)
('Short', 'Short ...', 10.0, 4.99, '2022-01-30 10:05:40', '2022-01-30 10:05:40', 6)
('Cap', 'Cap ...', 10.0, 1.99, '2022-01-30 10:05:40', '2022-01-30 10:05:40', 7)

In [9]:
cur.execute('''
    SELECT * FROM items 
        WHERE name = :data_name
''', { 'data_name': 'T-Shirt' })

item = cur.fetchone()

print(item)

('T-Shirt', 'T-Shirt ...', 10.0, 1.99, '2022-01-30 10:04:04', '2022-01-30 10:04:04', 1)

In [10]:
con.close()